.formContainer {
    width: 670px;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(217, 228, 241);
}

.container{
    width: 670px;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    background-color: rgb(217, 228, 241);
}

.h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}